/*
#88BDBC
#245E58
#112D32
#4F4A41
#6E6658
*/


.card-header{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #254E58;
}

.button_color {
    background-color: #112D32;
    color:white;
}
.button_color:hover{
    color:white;
}

.dashboard_filters{
    color:white;
    padding: 20px;
}

.filters_title{
    padding-top: 10px;
    padding-left: 10px;
}

.dashboard_filters .nav-item{
    margin-right: 10px;
}

.transaction_list{
    background-color: #254E58;
    color:white;
    padding: 20px;
}

.primary-site-color{
    background-color: #254E58;
}
