body{
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#login_form input
{
    font-size: 12pt;
}

#login_register{
    background-color: #00aa70;
    color:white;
}

#login_form{
    padding-top: 30px;
}

.card-header{
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00aa70;
}