body{
    background-image: url("../images/registration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#register_form  input
{
    font-size: 12pt;
}

#button_register{
    background-color: #00aa70;
    color:white;
}

.card-header{
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00aa70;
}